@font-face {
  font-family: front;
  src: url(Ruigslay.otf);
}
@font-face {
  font-family: front1;
  src: url(Gondens\ DEMO.otf);
}
@font-face {
  font-family: font3;
  src: url(sf-pro-text_regular.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

#section2 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 2px solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "block1 block1" "block2 block3" "block4 block5" "block6 block7";
}
#section2 #block1 {
  grid-area: block1;
  background-color: #000000;
  padding: 2reem 2rem;
  font-size: 10VW;
  text-align: center;
}
#section2 #block2 {
  grid-area: block2;
  background-color: #2ca00f;
}
#section2 #block3 {
  grid-area: block3;
  background-color: #1d7e81;
}
#section2 #block4 {
  grid-area: block4;
  background-color: #0f35e0;
}
#section2 #block5 {
  grid-area: block5;
  background-color: #f81bf8;
}
#section2 #block6 {
  grid-area: block6;
  background-color: #ecb500;
}
#section2 #block7 {
  grid-area: block7;
  background-color: #9dd31e;
}

#section1 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "loc1" "loc2" "loc2";
}
#section1 #loc1 {
  grid-area: loc1;
  display: flex;
  margin-top: 0px !important;
  flex-direction: column;
  z-index: 1;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  line-height: 1.4;
}
#section1 #loc1 h1 {
  font-size: 44vw;
  color: red;
  z-index: 2;
  text-align: left;
  font-family: front1;
  left: 50%;
}
#section1 #loc1 h3 {
  font-size: 20vw;
  font-family: front;
  color: transparent;
  background-image: url(https://i.pinimg.com/originals/e4/47/c5/e447c5bdd414dce7b88d3bd7536c9f47.gif);
  -webkit-background-clip: text;
          background-clip: text;
}
#section1 #loc2 {
  grid-area: loc2;
  background-position: center;
  background-image: url(retouch_2025102821364594.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-position-y: 2rem;
  background-repeat: no-repeat;
}

section {
  width: 100%;
}
section .section3 {
  width: 100%;
  background-color: #ffffff;
  padding: 2rem 2rem;
  display: grid;
  gap: 1.4rem;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "section3-block1" " section3-block2" " section3-block3";
}
section .section3 #section3-block1 {
  grid-area: section3-block1;
  gap: 4rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: transparent;
  background-image: url(https://i.pinimg.com/originals/e4/47/c5/e447c5bdd414dce7b88d3bd7536c9f47.gif);
  -webkit-background-clip: text;
          background-clip: text;
  font-family: front;
  flex-direction: column;
  text-align: center;
}
section .section3 #section3-block2 {
  grid-area: section3-block2;
  background-color: #F9F8F6;
  padding: 1rem 1rem;
  display: flex;
  border-radius: 1.6rem;
  font-family: font3;
  gap: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
section .section3 #section3-block2 li {
  margin: 0 1rem;
}
section .section3 #section3-block2 h1 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
section .section3 #section3-block2 p {
  font-size: 1rem;
}
section .section3 #section3-block2 div {
  display: flex;
  gap: 1rem;
}
section .section3 #section3-block2 div h4 {
  padding: 0.3rem 0.5rem;
  width: box-fit;
  border: 0.2rem solid;
  border-radius: 2rem;
  font-size: 1.1rem;
}
section .section3 #section3-block3 {
  grid-area: section3-block3;
  background-color: #F9F8F6;
  padding: 1rem 1rem;
  display: flex;
  border-radius: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: font3;
  gap: 2rem;
  flex-direction: column;
}
section .section3 #section3-block3 h1 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
section .section3 #section3-block3 p {
  font-size: 1.1rem;
}
section .section3 #section3-block3 div {
  display: flex;
  justify-content: space-between;
}
section .section3 #section3-block3 div h4 {
  padding: 0.3rem 0.5rem;
  text-align: center;
  width: box-fit;
  border: 0.2rem solid;
  border-radius: 2rem;
  font-size: 1.1rem;
}
section .section3 #section3-block3 div .ri-github-fill {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  margin: 1rem;
}

section {
  width: 100%;
}
section .section4 {
  width: 100%;
  background-color: #ffffff;
  padding: 2rem 2rem;
  display: grid;
  position: relative;
  overflow: hidden;
  gap: 1.4rem;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "section4-block1" " section4-block2" " section4-block3";
}
section .section4 ul {
  list-style: circle;
}
section .section4 li {
  margin: 1rem;
  gap: 0;
}
section .section4 h4 {
  color: #1a87f5;
}
section .section4 #section4-block1 {
  grid-area: section4-block1;
  gap: 4rem;
  font-size: 1.5rem;
  justify-content: center;
  color: transparent;
  background-image: url(https://i.pinimg.com/originals/e4/47/c5/e447c5bdd414dce7b88d3bd7536c9f47.gif);
  -webkit-background-clip: text;
          background-clip: text;
  display: flex;
  font-family: front;
  flex-direction: column;
  text-align: center;
}
section .section4 #section4-block2 {
  grid-area: section4-block2;
  background-color: #F9F8F6;
  padding: 1rem 1rem;
  display: flex;
  border-radius: 1.6rem;
  font-family: font3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
section .section4 #section4-block2 h1 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
section .section4 #section4-block2 p {
  font-size: 1rem;
}
section .section4 #section4-block3 {
  grid-area: section4-block3;
  background-color: #F9F8F6;
  padding: 1rem 1rem;
  display: flex;
  border-radius: 1.6rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: font3;
  gap: 1rem;
  flex-direction: column;
}
section .section4 #section4-block3 h1 {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}
section .section4 #section4-block3 p {
  font-size: 1rem;
}

@media screen and (max-width: 375px) {
  #section1 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "loc1" "loc2" "loc2" "loc2";
  }
  #section1 #loc1 {
    grid-area: loc1;
    /* display: flex; */
    margin-bottom: 10px;
    position: absolute;
    /* background-position-y: 8rem; */
    bottom: 0;
    line-height: 1.4;
  }
  #section1 #loc1 h1 {
    font-size: 41vw;
    z-index: 2;
    text-align: left;
    font-family: front1;
  }
  #section1 #loc1 h3 {
    font-size: 20vw;
    font-family: front;
    color: transparent;
    background-image: url("https://i.pinimg.com/originals/e4/47/c5/e447c5bdd414dce7b88d3bd7536c9f47.gif");
    -webkit-background-clip: text;
            background-clip: text;
  }
  #section1 #loc2 {
    grid-area: loc2;
    background-image: url(retouch_2025112621340961.png);
    background-size: contain;
    background-position-y: 5rem;
    background-repeat: no-repeat;
  }
}
section {
  width: 100%;
}
section .section5 {
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/e4/47/c5/e447c5bdd414dce7b88d3bd7536c9f47.gif");
}
section .section5 h1 {
  font-size: 25vw;
  text-align: center;
  left: 50%;
  color: whitesmoke;
  transform: translateX(-50%);
  position: relative;
  font-family: front1;
}
section .section5 form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f3f3f1;
  border-radius: 1rem;
  margin-inline: 1.5rem;
  position: relative;
  font-family: font3;
  top: -5rem;
  padding: 2rem;
}
section .section5 form .input {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: 0.2rem solid black;
}
section .section5 form #message-box {
  min-height: 10rem;
  width: 100%;
  border: 0.2rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}
section .section5 form #form-button-outter {
  display: flex;
  justify-content: space-between;
}
section .section5 form #form-button-outter button {
  padding: 0 1rem;
  font-size: 6vw;
  border-radius: 2rem;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
section .section5 form #form-button-outter #form-button-inner {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
section .section5 form #form-button-outter #form-button-inner img {
  width: 2rem;
  height: 2rem;
}/*# sourceMappingURL=style.css.map */